<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-mvcNG-20210419032742.mdf;Initial Catalog=aspnet-mvcNG-20210419032742;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="cnstring" connectionString="Data Source=LAPTOP-MNM\SQLEXPRESS;Initial Catalog=PRICEVERIFIER;Integrated Security=True;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="dbContainer" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MNM\SQLEXPRESS;initial catalog=PRICEVERIFIER;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>